
name: 测试发布

on:
    release:
        types: [published]


jobs:

    test:
        runs-on: ubuntu-latest
        steps:
            - name: 打印事件
              run: |
                echo "${{ toJSON(github) }}"
